.idea/
*.iml
*.iws
*.ipr
*.hprof

.gradle/
**/build/
**/out/
**/.gradle/
local.properties

**/kotlin/
**/ksp/

*.apk
*.aab
*.ap_

*.keystore
*.jks

*.log

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

google-services.json
app/google-services.json
*.firebase/

**/obj/
**/.cxx/
.externalNativeBuild/

**/jacoco/
**/coverage/

compose-cache/

proguard/
mapping.txt
